<div class="b-events-container">
  <h1>Eventos</h1>
  <div class="row">
    <div class="col-4" *ngFor="let evento of eventos">
      <div class="b-event card bg-light">
        <img class="card-img-top" src="{{ evento.thumbnail | changeImageURL }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="b-event__title card-title">{{evento.title}}</h4>
          <p class="card-text">{{ evento.summary }}</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
  </div>

</div>
